@media screen and (min-width: 768px) and (max-width: 1023px){
    body{
        background-color: rgb(255, 252, 245);
        border: #524036;
    }
    
}

header{
    padding: 10px;
}

main{
    margin: 20px;
    padding: 20px;
}
.titulo1{
    color: #524036;
    font-size: 30px;
    text-align: center;
}

.titulosite{
    text-align: center;
    color: rgb(153, 129, 113);
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: #524036; /* cor da borda */
    font-family: "Comic Sans MS"; /* geralmente pedem pra nao usar essa fonte por ser nada profissional*/
    font-size: 30px;
}

.explicaçao {
    padding: 10px;
    margin: 50px;

}

.texto{
    box-shadow: 10px 20px rgb(131, 117, 107);
    border: 2px solid rgb(0, 0, 0);
    background-color: aliceblue;
    padding: 30px;
    box-sizing: border-box;
}

.exemplo{
    text-align: center;
}

.atividade{
    text-align: center;
}

.ai{
    text-align: center;
    color:  rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: #524036; /* cor da borda */
    font-family: "Comic Sans MS";
}

#marcacao_nome{
    background-color: aliceblue;
}

.esquerdista{
    border: solid;
    text-align: left;
    font-size: 26px;
    margin-left: 30px;
}

h3{
    color: #524036;
    font-size: 30px;
}

.letra{
    font-size: 26px;
}

.botao{

    text-align: center;
}

.verde{
    color: rgb(22, 59, 34);
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: rgb(0, 248, 45); /* cor da borda */
    text-align: center;
}

.vermelho{
    color: rgb(75, 32, 32);
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: rgb(248, 0, 0);
    text-align: center;
}

.pomni{
    text-align: center;
    border: dotted;
    display: inline-block;
}

.caca{
    text-align: center;
}

.probabilidade{
    font-size: 30px;
}

.despedida{
    font-size: 30px;
    color:  rgb(153, 129, 113);
    text-align: center;
}


.diga,.supera{
    display: inline-block;
}

.diga{
    width:386px;
    height:386px;
    text-align: center;
}

.aaa{
    background-color: rgb(240, 248, 255);
    font-size: 30px;
    text-align: center;
    color:  rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: #524036; /* cor da borda */
    font-family: "Comic Sans MS";
}

.bol{
    width: 600px;
    height: 100px;
    text-align: center;
}
